<div class="top">
  <div class="headerImage">
  <img class="mainImage" src="../../assets/photo.jpg"/>
  </div>
</div>
<div class="container">
  <div class="subTitle">Languages</div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-card class="languages">
      <mat-card-title>Angular</mat-card-title>
      <mat-card-content><img class="languageImg" src="../../assets/Angular_full_color_logo.svg.png"></mat-card-content>
    </mat-card>
    <mat-card class="languages">
      <mat-card-title>HTML</mat-card-title>
      <mat-card-content><img class="languageImg" src="../../assets/html on trans.png" /></mat-card-content>
    </mat-card>
    <mat-card class="languages">
      <mat-card-title>Javascript</mat-card-title>
      <mat-card-content><img class="languageImg" src="../../assets/javascript-36f5949a45.png"/></mat-card-content>
    </mat-card>
    <mat-card class="languages">
      <mat-card-title>CSS</mat-card-title>
      <mat-card-content><img class="languageImg" src="../../assets/css on trans.png"/></mat-card-content>
    </mat-card>
  </div>
  <div class="explanation">
   <i> With Angular's power and Javascripts flexibility I create high end, fully fledged apps that solve an array of clients needs.
    CSS and Material Design add a sleek and modern look to the web apps I deploy.</i>
  </div>
  <div class="subTitle">Skills</div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <mat-card class="hobbies">
        <mat-card-title>Speaker</mat-card-title>
          <mat-card-content><img class="languageImg" src="../../assets/speaking.png"/></mat-card-content>
      </mat-card>
      <mat-card class="hobbies">
        <mat-card-title>Sales</mat-card-title>
        <mat-card-content><img class="languageImg"src="../../assets/sales.png"/></mat-card-content>
      </mat-card>
      <mat-card class="hobbies">
        <mat-card-title>Branding</mat-card-title>
        <mat-card-content><img class="languageImg" src="../../assets/checkmark.png"/></mat-card-content>
      </mat-card>
    </div>
  <div class="explanation">
   <i> With over 5 years of sales experience I've become incredibly accustomed to considering what the client wants.
    From product demonstrations to cold calling prospects I've learned to effectively present business solutions while
     succinctly addressing concerns with technical solutions.</i>
  </div>
</div>
