<app-menu></app-menu>
<div class="top">
  <div class="headerImage">
  <img src="../../assets/photo.jpg"/>
  </div>
</div>
<div class="container">
  <h1 class="title">About Me</h1>
  <div class="subTitle">My Languages</div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-card class="languages">
      <mat-card-title>Angular</mat-card-title>
      <mat-card-content><img class="languageImg" src="../../assets/Angular_full_color_logo.svg.png"></mat-card-content>
    </mat-card>
    <mat-card class="languages">
      <mat-card-title>HTML</mat-card-title>
      <mat-card-content><img class="languageImg" src="../../assets/html on trans.png" /></mat-card-content>
    </mat-card>
    <mat-card class="languages">
      <mat-card-title>Javascript</mat-card-title>
      <mat-card-content><img class="languageImg" src="../../assets/javascript-36f5949a45.png"/></mat-card-content>
    </mat-card>
    <mat-card class="languages">
      <mat-card-title>CSS</mat-card-title>
      <mat-card-content><img class="languageImg" src="../../assets/css on trans.png"/></mat-card-content>
    </mat-card>
  </div>
  <div>
    With Angular's power and Javascripts flexibility I create high end, fully fledged apps that solve an array of clients needs.
    CSS and Material Design add a sleek and modern look to the web apps I deploy.
  </div>
  <h1 class="title">Hobbies</h1>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <mat-card class="hobbies">
        <mat-card-title>Lifting</mat-card-title>
          <mat-card-content><img class="languageImg" src="../../assets/lifting.png"/></mat-card-content>
      </mat-card>
      <mat-card class="hobbies">
        <mat-card-title>Coding</mat-card-title>
        <mat-card-content><img class="languageImg" src="../../assets/computer.png"/></mat-card-content>
      </mat-card>
      <mat-card class="hobbies">
        <mat-card-title>Gaming</mat-card-title>
        <mat-card-content><img class="languageImg"src="../../assets/gaming.png"/></mat-card-content>
      </mat-card>
    </div>
</div>
