.title{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 75px;
  text-align: center;
}
.contactIcon{
  height: 50px;
  width: 50px;
}
.contactBox{
  padding: 50px;
  display: inline-block;
}
form{
  text-align: center;
}
label {
  padding-right: 3px;
  display: inline-block;
  width: 60px;
  padding-bottom: 5px;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #f03829;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #f03829;
}
.submitButton{
  padding-bottom: 20px;
  padding-top: 20px;
}
.callToAction{
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}
