<!--<app-menu></app-menu>-->
<div class="container">
  <div class="title">Contact</div>
  <form>
      <div class="form-group">
       <div>
         <label for="name">Name</label>
       </div>
        <input placeholder="Leroy Jenkins" type="text" class="form-control" id="name" required>
      </div>
      <div class="form-group">
        <div>
          <label for="email">Email</label>
        </div>
        <input placeholder="letsmeet@gmail.com" type="text" class="form-control" id="email" required>
      </div>
    <div class="form-group">
     <div>
       <label for="reason">What's up?</label>
     </div>
      <input placeholder="Keep it simple" type="text" class="form-control" id="reason" required>
    </div>
    <button>Submit</button>
  </form>
</div>
<div class="container">
  <div class="title">Reach out directly!</div>
  <div class="contactBox" fxlayout="row" fxLayoutAlign="space-between center">
    <div> <a href="https://twitter.com/dwilley21" target="_blank">
      <img class="contactIcon" src="../../assets/twitter.png"/></a></div>
    <div> <a href="https://www.linkedin.com/in/dalton-willey-174017aa/" target="_blank">
      <img class="contactIcon" src="../../assets/linkedIn.png"/></a></div>
    <div> <a href="mailto:daltonwilley@gmail.com" target="_blank">
      <img class="contactIcon" src="../../assets/gmail.png"/></a></div>
  </div>
</div>
