<div class="container">
  <div class="title">Get in touch!</div>
  <div class="callToAction"><i>Whether you're reaching out for collaboration, work opportunities, or need help on a project feel
    free to reach out and I'll help however possible.</i></div>
  <form action="https://formspree.io/mzggdwex" method="POST">
    <input type="text" name="_gotcha" style="display: none">

    <div class="form-group">
      <div>
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" id="name" required>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label for="email">Email:</label>
        <input type="text" class="form-control" name="email" id="email" required>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label for="reason">Reason: </label>
        <input type="text" class="form-control" name="reason" id="reason" required>
      </div>
    </div>
    <div class="submitButton"><button type="submit">Send</button></div>
  </form>
</div>
<div class="container">
  <div class="contactBox" fxlayout="row" fxLayoutAlign="space-evenly center">
    <div> <a href="https://twitter.com/dwilley21" target="_blank">
      <img class="contactIcon" src="../../assets/twitter.png"/></a></div>
    <div> <a href="https://www.linkedin.com/in/dalton-willey-174017aa/" target="_blank">
      <img class="contactIcon" src="../../assets/linkedIn.png"/></a></div>
    <div> <a href="mailto:daltonwilley@gmail.com" target="_blank">
      <img class="contactIcon" src="../../assets/gmail.png"/></a></div>
  </div>
</div>
