<div class="container"><img  class="workPhoto"src="../../assets/extemp.PNG" />
  <span class="title"><a href="extemprelief.com">Extemp Relief</a></span>
  <div class="subTitle"><i>Built with:</i></div>
  <div class="imgDiv">
    <span><img class="builtWithImg" src="../../assets/Angular_full_color_logo.svg.png"/></span>
    <span><img class="builtWithImg" src="../../assets/javascript-36f5949a45.png"/></span>
    <span><img class="builtWithImg" src="../../assets/css on trans.png"/></span>
    <span><img class="builtWithImg" src="../../assets/html on trans.png"/></span>
</div>
  <div class="content">ExtempRelief.com was rebuilt to run quicker and generate a sleeker interactive feel than previous site iterations.
  Extemp reliefs new site has increased user interaction and created a streamlined process for user's to buy products increasing company sales.
    Angular provided an efficient base for quick user interaction and allowed Extemprelief to have its modern feel.
  </div>
</div>
<hr class="divider">
<div class="container"><img class="workPhoto"src="../../assets/Capture.PNG"/>
  <span class="title"><a href="sunflowerspeechcamp.com">Sunflower Speech Camp</a></span>
  <div class="subTitle"><i>Built with:</i></div>
  <div class="imgDiv">
    <span><img class="builtWithImg" src="../../assets/Angular_full_color_logo.svg.png"/></span>
    <span><img class="builtWithImg" src="../../assets/javascript-36f5949a45.png"/></span>
    <span><img class="builtWithImg" src="../../assets/css on trans.png"/></span>
    <span><img class="builtWithImg" src="../../assets/html on trans.png"/></span>
  </div>
  <div class="content">Sunflower Speech camp is positioned in an incredibly difficult industry when it comes to attracting campers.
    Creating a sleek design and layout were critical to attracting more campers. In addition, an online payment system was critical to getting committments from campers immediately.
    Built with Angular the site is quick and user interaction feels smooth and the payment and registration process feel effortless.</div>
</div>
