.workPhoto{
  width: 150px;
  length: 150px;
  border-radius: 50%;
}
.title{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 25px;
}
.subTitle{
  padding-left: 150px;
  padding-top: 50px;
  font-size: 2em;
}
.builtWithImg{
  width: 50px;
  length: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.imgDiv{
  padding-left: 150px;
}
.content{
  padding-left: 150px;
}
