<app-menu></app-menu>

<div class="container"><img class="workPhoto" src="../../assets/Angular_full_color_logo.svg.png"/>
  <span class="title">Extemp Relief</span>
  <div class="subTitle"><i>Built with:</i></div>
  <div class="imgDiv">
    <span><img class="builtWithImg" src="../../assets/Angular_full_color_logo.svg.png"/></span>
    <span><img class="builtWithImg" src="../../assets/javascript-36f5949a45.png"/></span>
    <span><img class="builtWithImg" src="../../assets/css on trans.png"/></span>
    <span><img class="builtWithImg" src="../../assets/html on trans.png"/></span>
</div>
  <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>
<div class="container"><img class="workPhoto" src="../../assets/Angular_full_color_logo.svg.png"/>
  <span class="title">Sunflower Speech Camp</span>
  <div class="subTitle"><i>Built with:</i></div>
  <div class="imgDiv">
    <span><img class="builtWithImg" src="../../assets/Angular_full_color_logo.svg.png"/></span>
    <span><img class="builtWithImg" src="../../assets/javascript-36f5949a45.png"/></span>
    <span><img class="builtWithImg" src="../../assets/css on trans.png"/></span>
    <span><img class="builtWithImg" src="../../assets/html on trans.png"/></span>
  </div>
  <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>
