<div class="header"><img class="splashLogo" src="../../assets/dalton willey - masthead logo red.png"/></div>
<div class="container">
  <i>I'm a self-taught developer with a passion for learning the newest technologies and building innovative solutions
    for businesses technical challenges</i>
</div>
<div class="menu" fxLayout="row" fxLayoutAlign="space-evenly center">
  <div><a routerLink="/work">Work</a></div>
  <div><a routerLink="/about-me">About Me</a></div>
  <div><a routerLink="/contact">Contact</a></div>
</div>
